<!doctype>
<html class="no-js" lang="">

  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Guestbook</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/contacts.css">
        <link rel="stylesheet" href="css/guestbook.css">
    
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
    <header>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OURWART SHOPPING</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>  
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
            <form class="navbar-form navbar-center" role="form">
            <button type="submit"  class="btn btn-info" formaction="http://127.0.0.1:8081/home.html">Home</button>
            <button type="submit" class="btn btn-info" formaction="http://127.0.0.1:8081/YourChoice.html">YourChoice</button>
             <button type="submit" class="btn btn-info" formaction="http://127.0.0.1:8081/Contacts.html">Contacts</button>
             <button type="submit" class="btn btn-info" formaction="http://127.0.0.1:8081/index.ejs">guestbook</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav></header>
<br><br><br><br><br>

<h1>
Kamani's Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-success pull-right">
Write in the guestbook
</a>
</h1>

