h1{
	color:Blue;
}
p{
	align-content: right;
}
.button
{
	Background-color blue;
}
#pre
{
	font-size:18px;

}
.img_circle
{
	text-align:Center
}
.row
{
	background: lightblue;
}
#post
{
	color:black
}