*{	
    padding:1;
	margin:0;
}
body {
    background-color: lightblue;*/
	background-image: url("C:/44563/A01Kamani/initializr-verekia-4.0/initializr/abcd.jpg");
	background-size: 100%, 100%;
	/*background-repeat: no-repeat;*/
	
	 
}
#myid {
    color: Green;
	text-align: left;
	
}
h2.define{
	color :red;
	text-align: left;
	font-style: italic;
}	

table {
	width:50%;
	border-collapse:collapse;
}

ol.a {
    list-style-type: upper-roman;
}

#special {
	color : blue;
	font-style:italic;
}	
.back
{
	background-image: url("C:/44563/A01Kamani/initializr-verekia-4.0/initializr/abcd.jpg");
	background-size: 100%, 100%;
}
.form {
background-image: url("C:/44563/A01Kamani/initializr-verekia-4.0/initializr/abcd.jpg");
	background-size: 100%, 100%;
}

 
	

