 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
		<!--<link rel="stylesheet" href="contacts.css">-->

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OURMART SHOPPING</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
         </form>
            <form class="navbar-form navbar-center" role="form">
            <button type="submit"  class="btn btn-info" formaction="http://127.0.0.1:8081/home.html">Home</button>
            <button type="submit" class="btn btn-info" formaction="http://127.0.0.1:8081/YourChoice.html">YourChoice</button>
             <button type="submit" class="btn btn-info" formaction="http://127.0.0.1:8081/Contacts.html">Contacts</button>
             <button type="submit" class="btn btn-info" formaction="http://127.0.0.1:8081/index">guestbook</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<h2>For any queries,contact:</h2>
<center><h2>KAMANI PRATHIBHA</h2>
<p> @Mail Id: kprathibha480@gmail.com</p>
<p> Phone Number:+1(660-528-0738)</p>
</center>
<!--<img src="personal3.jpg" alt="This is Kamani Prathibha" style="width:250px; height:240px";>-->
<table>
<tr><td><p><a href="https://www.facebook.com/kamani.prathibha">
<img src="https://cdn2.iconfinder.com/data/icons/micon-social-pack/512/facebook-128.png">  </a></p></td>
<td><ul>
<li><a href="https://github.com/pkamani0418">
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTvuJjAdgA91Jeta_Y0K5iIVgk5AZHnfdZhCaucheisQBx3s_wQ" style="width:150px; height:50";></a>
</li></ul></td>

<td><li>
<a href="https://bitbucket.org/pkamani0418/">
<img src="http://sdtimes.com/wp-content/uploads/2016/07/0722.sdt-atlassian.png" style="width:150px; height:50";>></a>
</li></td>

<td><li>
<a href="https://www.linkedin.com/in/kamani.prathibha?trk=nav_responsive_tab_profile">
<img src="http://www.jeffbullas.com/wp-content/uploads/2012/03/How-to-Harness-the-Power-of-LinkedIn-%E2%80%93-INFOGRAPHIC1.png" style="width:150px; height:50";></a>

</li></td></tr></table>
<h2><br><b>Send Your Details:</b></br></h2>
  Name: <input type="text" name="rname"><br><br>
 Phone Number: <input type="text" name="phone number"><br><br>
 Email: <input type="text" name="Email"><br><br>
 Any Question:<input type="text" name="Any Question post me"><br><br>
<form>
	<button type="submit" class="btn btn-info">Submit</button>
</form>
</body>
</html>